In [1]:
import pandas as pd

In [2]:
theDoors_names = ['james','rey','robby','john']
theDoors_age = [47,50,55,49]

In [3]:
theDoors = pd.DataFrame({"Name":theDoors_names, "Age":theDoors_age})

In [4]:
theDoors

    Name  Age
0  james   47
1    rey   50
2  robby   55
3   john   49

In [7]:
# getting names
theDoors['Name']

0    james
1      rey
2    robby
3     john
Name: Name, dtype: object

In [8]:
# getting age
theDoors['Age']

0    47
1    50
2    55
3    49
Name: Age, dtype: int64

In [11]:
# Adding a column
theDoors['childAge'] = [12,12,4,6]

In [12]:
theDoors

    Name  Age  childAge
0  james   47        12
1    rey   50        12
2  robby   55         4
3   john   49         6

In [13]:
# displaying the names of columns
theDoors.columns

Index(['Name', 'Age', 'childAge'], dtype='object')

In [14]:
theDoors['fatherHoodAge'] = theDoors.Age - theDoors.childAge

In [15]:
theDoors

    Name  Age  childAge  fatherHoodAge
0  james   47        12             35
1    rey   50        12             38
2  robby   55         4             51
3   john   49         6             43