In [111]:
import pandas as pd
import numpy as np

In [112]:
data = pd.read_csv('/home/atrides/Desktop/R/statistics_with_Python/03_Python_Enviroment/Data_Files/Honeymoon Period.dat', sep='\s+')

In [114]:
print(data.head())

   Person  Satisfaction_Base  Satisfaction_6_Months  Satisfaction_12_Months  \
0       1                  6                      6                       5
1       2                  7                      7                       8
2       3                  4                      6                       2
3       4                  6                      9                       4
4       5                  6                      7                       6

   Satisfaction_18_Months  Gender
0                     2.0     0.0
1                     4.0     1.0
2                     2.0     1.0
3                     1.0     0.0
4                     6.0     0.0

In [115]:
print(data.columns)

Index(['Person', 'Satisfaction_Base', 'Satisfaction_6_Months',
       'Satisfaction_12_Months', 'Satisfaction_18_Months', 'Gender'],
      dtype='object')

## wide data to long data

In [116]:
melted_df = pd.melt(data,id_vars=['Person','Gender'], value_vars=['Satisfaction_Base','Satisfaction_6_Months','Satisfaction_12_Months','Satisfaction_18_Months'], 
       var_name='satisfaction_after_time')
print(melted_df.head(10))

   Person  Gender satisfaction_after_time  value
0       1     0.0       Satisfaction_Base    6.0
1       2     1.0       Satisfaction_Base    7.0
2       3     1.0       Satisfaction_Base    4.0
3       4     0.0       Satisfaction_Base    6.0
4       5     0.0       Satisfaction_Base    6.0
5       6     1.0       Satisfaction_Base    5.0
6       7     0.0       Satisfaction_Base    6.0
7       8     NaN       Satisfaction_Base    2.0
8       9     0.0       Satisfaction_Base   10.0
9      10     0.0       Satisfaction_Base   10.0

## long data to wide data

In [117]:
unmelted_df = pd.pivot_table(melted_df, values='value', index=['Person'],

                    columns=['satisfaction_after_time'], dropna=False)

In [118]:
_ = melted_df[melted_df['satisfaction_after_time']=='Satisfaction_Base']['Gender']

In [119]:
unmelted_df.columns = ['Satisfaction_Base','Satisfaction_6_Months', 'Satisfaction_12_Months','Satisfaction_18_Months']

In [120]:
unmelted_df['Person'] = unmelted_df.index
unmelted_df.reset_index(drop=True, inplace=True)

In [121]:
unmelted_df['Gender'] = _

In [122]:
# data converted from long to wide
print(unmelted_df)

     Satisfaction_Base  Satisfaction_6_Months  Satisfaction_12_Months  \
0                  5.0                    2.0                     6.0
1                  8.0                    4.0                     7.0
2                  2.0                    2.0                     6.0
3                  4.0                    1.0                     9.0
4                  6.0                    6.0                     7.0
..                 ...                    ...                     ...
110                2.0                    1.0                     4.0
111                1.0                    7.0                     6.0
112                6.0                    7.0                     6.0
113                2.0                    1.0                    10.0
114                2.0                    1.0                     6.0

     Satisfaction_18_Months  Person  Gender
0                       6.0       1     0.0
1                       7.0       2     1.0
2                       4.0       3     1.0
3                       6.0       4     0.0
4                       6.0       5     0.0
..                      ...     ...     ...
110                     8.0     119     1.0
111                     3.0     120     1.0
112                     6.0     121     1.0
113                     5.0     122     NaN
114                     5.0     123     0.0

[115 rows x 6 columns]